body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
/* Encabezado */
.encabezado{
    background-color: rgba(11, 72, 115, 1);
    width: 100.1%;
    height: 120px;
    display: flex;
}
.imagenIcono{
    /* background-image: url("../img/QuienesSomos/boton.png");
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 25px;
    margin-left: 25px; */
}
.botonRegresar{
    margin-left: 1em;
    position: relative;
    top: 30%;
    width: 80px;
}
.botonLogo{
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgba(255, 153, 0, 0);
    border: none;
    width: 7.6%;
    height: 58px;
    position: relative;
    right: 2px;
    
}
.tituloEncabezado{
    position: relative;
    left: 35%;
}

.titulo{
    color: rgba(176, 203, 223, 1);
    font-size: 50px;
    margin-top: 25px;
    margin-right: 750px;
    width: 398px;
}

.fondoFundador{
    background-color: rgba(217, 217, 217, 1);
    height: 60%;
    width: 100.1%;
    display: flex;
}
.imagenFundador{
    position: relative;
    top: 11%;
    left: 20px;
}
.textoFundador{
    width: 30%;
    
}
.texto{
    margin-left: 23%;
    margin-top: 35%;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1300px;
}

.espacioMision{
    background-color: rgba(11, 72, 115, 1);
    height: 120px;
    width: 100.1%;
    display: flex;
    align-items: center;
}
.tituloMision{
    font-size: 40px;
    margin-left: 45%;
    color: rgba(176, 203, 223, 1);
}
.mision{
    background-color: rgba(217, 217, 217, 1);
    height: 60%;
    width: 100.1%;
    display: flex;
}
.textoMision{
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1300px;
    margin-top: 7%;
    margin-left: 2%;
    width: 1300px;
}
.imagenMision{
    height: 2%;
    position: relative;
    top: 11.5%;
}

.espacioVision{
    background-color: rgba(11, 72, 115, 1);
    height: 120px;
    display: flex;
    align-items: center;
}
.tituloVision{
    font-size: 40px;
    /* font-size: 40px; */
    margin-left: 45%;
    color: rgba(176, 203, 223, 1);
    display: flex;
}
.textoVision{
    height: 10px;
    position: relative;
    bottom: 25px;
}
.vision{
    background-color: rgba(217, 217, 217, 1);
    height: 60%;
    width: 100.1%;
    display: flex;
}
.textoVision{
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1300px;
    position: relative;
    top: 30%;
    right: 2%;
}
.imagenVision{
    position: relative;
    top: 8.8%;
}





/*Pie de pagina*/
.pieDePaginaTamaño{
    background-color: rgba(86, 81, 81, 0.59);
    width: 100.1%;
    height: 300px;
    
}
.pieDePagina{
    display: flex;
    justify-content: center;
    gap: 200px;
    position: relative;
    right: -100px;
}
.serviciosPie, .contactosPie, .siguenosPie{
    text-decoration: underline;
    text-decoration-color: rgba(255, 153, 0, 1);
    color: rgba(255, 153, 0, 1);
    font-size: 50px;
    position: relative;
    bottom: 20px;
    left: 100px;
}
.serviciosPie{
    top: 15px;
}
.siguenosPie{
    top: 15px;
}

.pieServicios{
    position: relative;
    bottom: 25px;
    position: relative;
    right: 100px;
    color: white;
    font-size: 25px;
    width: 400px;
    top: -5px;
    left: 20px;
}

.pieContactos{
    position: relative;
    bottom: 20px;
    position: relative;
    right: 100px;
    color: white;
    font-size: 25px;
    width: 400px;
    text-align: center;
    gap: -100px;
    bottom: 50px;
    left: 9px;
}

.iconos img{
    width: 10%;
    margin-left: 40px;
    position: relative;
    bottom: 30px;
}
@media(max-width: 1024px){
    h1.titulo{
        position: relative;
        right: 2em;
    }
    .fondoFundador,.mision,.vision{
        height: min-content;
    }
    .imagenFundador img{
        position: relative;
        top: 0.25em;
    }
    .textoFundador p{
        position: relative;
        width:22em;
        font-size: 1.5em;
    }
    .textoMision{
        /* display: none; */
        font-size: 1.3em;
        width: 20em;
    }
    .imagenMision{
        all: initial;
        width: 30em;
        position: relative;
        left: 9em;
        top: 0.266em;
    }
    .imagenVision{
        width: 29em;
        position: relative;
        top: 0.25em;
    }
    .textoVision{
        font-size: 1.3em;
        width: 20em;
        position: relative;
        top: 2.2em;
    }
}
@media (width: 430px){
    .encabezado,.espacioMision,.espacioVision{
        width: 100%;
        height: 70px;
    }
    .botonRegresar{
        right: 1em;
    }
    .botonLogo img{
        width: 40px;
        top: 0.06em;
        opacity: 0.7;
    }
    .encabezado *{
        font-size: 1.5em;
    }
    .titulo{
        position: relative;
        left: -6em;
        top: -0.4em;
    }
    .tituloMision,.tituloVision{
        font-size: 1.5em;
        position: relative;
        right: 0.9em;
    }
    /*Fundador*/
    .fondoFundador{
        height: min-content;
    }
    .imagenFundador{
        width: 10em;
    }
    .textoFundador p{
        font-size: 0.7em;
        width: 20em;
    }
    .textoMision{
        /* display: none; */
        font-size: 0.85em;
    }
    .imagenMision{
        width: 18em;
        left: 1em;
        top: 0.2706em;
    }
    .imagenVision{
        width: 15em;
    }
    .textoVision{
        font-size: 0.85em;
        width: 19em;
        top: 1.5em;
    }

    .pieDePaginaTamaño{
        width: 100%;
    }
    
    .serviciosPie{
        margin: 0;
        left: 0.8em;
        font-size: 2.5em;
    }



    .prueba{
        display: none;
    }
}