*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.fondo{
  width: 100%;
  height: 100vh;
  background-image: url('../img/login/chica-sosteniendo-el-balon-de-futbol-de-pie-con-su-padre-en-el-parque.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
}
.formulario{
    background-color: rgba(162, 163, 163, 0.4);
    height: 700px; /*Altura*/
    width: 30%;
    position: absolute;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 40%;
    margin: 20px 0 0px/*abajo*/ 0px;
}
.registro{
    display: flex;
    flex-direction: column;
}
.registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    position: relative;
    top: 20px;
}
input::placeholder{
    text-align: center;
    color: white;
    opacity: 0.89;
}
#nombre,#apellido,#correo,#contraseña,#iniciar{
    width: 60%;
    
    background-color: rgba(2, 25, 102, 0.7);
    height: 50px;
    color: #fff;
    border-radius: 15px;
    font-size: 180%;
    outline: none;
    text-align: center;
    border: none;
    position: relative;
    left: 20%;
    top: 200%;
}
button{
    position: relative;
    left: 34%;
    width: 30%;
    /* background-color: rgba(35, 107, 202, 0.568); */
    height: 40px;
    background-color: rgba(2, 25, 102, 0);
    color: white;
    border: none;
}
.login{
    position: relative;
    top: 3.5em;
    font-size: 1.02em;
    color: white;
}
#nombre,#apellido,#correo,#contraseña,#iniciar,button{
  font-size: 1.5em; 
}
a{
    text-decoration: none;
    color: rgba(255, 136, 0, 0.993);
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width: 1024px){
  .logo{
    width: 180%;
    position: relative;
    right: 210px;
  }
  .fondo{
    background-image: url(../img/login/chica-sosteniendo-el-balon-de-futbol-de-pie-con-su-padre-en-el-parque.jpg);
    width: 100%;
    background-attachment: fixed; /* hace que el fondo no se mueva al hacer scroll */
    background-position: -150px 0px; /* X Y */
  }
  .formulario{
    position: absolute;
    left: 25%;
    height: 850px;
    width: 50%;
    /* width: 50%; */
  }
  #nombre,#apellido,#correo,#contraseña{
    position: relative;
    left: 5%;
    background-color: rgba(2, 25, 102, 0.7);
    width: 90%;
    height: 70px;
    border-radius: 15px;
    /* transition: all 0.3s ease; */
  }
  button{
    font-size: 1.9em;
    position: relative;
    bottom: 10px;
  }
  .login{
    font-size: 1.4em;
    position: relative;
    top: 5%;
  }
}