body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.cabezera{
    background-color: rgba(255, 194, 130, 1);
    width: 100.1%;
    height: 120px;
    display: flex;
}
.botonCabezera{
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgba(255, 153, 0, 0);
    border: none;
    height: 58px;
    position: relative;
    left: 1%;
    top: 32px;
}
.linkBoton{
    background-color: rgba(255, 153, 0, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}
.tituloCabezera{
    position: absolute;
    font-size: 35px;
    left: 32%;
    top: -3%;
    color: rgba(162, 91, 18, 1);
}


.x{
    font-size: 300%;
    height: 1%;
    color: rgb(39, 19, 0);
}
#regresar{
    cursor: pointer;
}
.menuNav{
    background-color: rgba(255, 194, 130, 1);
    width: 30%;
    height: 1000%;
    z-index: 14;
    justify-items: center;
}
.menuNav a{
    color: rgba(162, 91, 18, 1);
    text-decoration: none;
    cursor: pointer;
    font-size: 300%;
}
.menuNav p{
    color: rgba(162, 91, 18, 0.8);
    font-size: 300%;
    cursor: default;
}

.menuNav{
    display: none;
}






.inicioAdultos{
    background-color: rgba(184, 95, 1, 0.73);
    height: 50%;
    display: flex;
    overflow: hidden;
}
.adultoInicio{
    object-fit: cover;
    position: relative;
    top: 5%;
}
.inicioTexto p{
    font-size: 250%;
    width: 80%;
    color: white;
    position: relative;
    left: 10%;
    text-align: center;
}
.espacio{
    background-color: rgba(162, 91, 18, 1);
    height: 10%;
    display: flex;
    flex-direction: column;
}
.espacio h2{
    text-align: center;
    color: white;
    font-size: 300%;
    position: relative;
    bottom: 27%;
}
.lectura{
    background-image: url(../../img/servicios/adultos/lectura.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
    display: flex;
}
.textoGuarderia{
    background-color: rgba(204, 138, 70, 0.56);
    height: 25%;
    width: 100%;
    position: relative;
    top: 75%;
    text-align: center;
}
.textoGuarderia p{
    color: white;
    font-size: 200%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 5%;
}

.teleferico{
    display: flex;
    background-image: url(../../img/servicios/adultos/teleferico.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 101%;
    height: 80%;
}
.cine{
    display: flex;
    background-image: url(../../img/servicios/adultos/cine.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 101%;
    height: 80%;
}
.textoParqueInfantil{
    background-color: rgba(204, 138, 70, 0.56);
    height: 25%;
    width: 100%;
    position: relative;
    top: 75%;
    text-align: center;
}
.textoCine{
    background-color: rgba(204, 138, 70, 0.56);
    height: 25%;
    width: 100%;
    position: relative;
    top: 75%;
    text-align: center;
}
.textoParqueInfantil p{
    color: white;
    font-size: 200%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 8%;
}
.textoCine p{
    color: white;
    font-size: 200%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 8%;
}
.espacioExtra{
    background-color: rgba(162, 91, 18, 1);
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35%;
    color: white;
}
.espacioExtra h2{
    position: relative;
    top: -10%;
    font-size: 250%;
}
.espacioExtraInfo{
    display: flex;
    flex-direction: row;
}
.descanso{
    background-image: url(../../img/servicios/adultos/descanso.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 700px;
}
.descanso .texto{
    background-color: rgba(204, 138, 70, 0.56);
    width: 100%;
    height: 117px;
    position: relative;
    top: 80%;
    justify-items: center;
    text-align: center;
    font-size: 140%;
}
.descanso .texto p{
    width: 80%;
    position: relative;
    top: 7%;
    color: white;
}
.sauna{
    background-image: url(../../img/servicios/adultos/sauna.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 700px;
}
.sauna .texto{
    background-color: rgba(204, 138, 70, 0.56);
    width: 100%;
    height: 117px;
    position: relative;
    top: 80%;
    justify-items: center;
    text-align: center;
    font-size: 140%;
}
.sauna .texto p{
    width: 80%;
    position: relative;
    top: 7%;
    color: white;
}












/*Pie de pagina*/
.pieDePaginaTamaño{
    background-color: rgba(86, 81, 81, 0.59);
    width: 100%;
    height: 300px;
    
}
.pieDePagina{
    display: flex;
    justify-content: center;
    gap: 200px;
    position: relative;
    right: -100px;
}
.serviciosPie, .contactosPie, .siguenosPie{
    text-decoration: underline;
    text-decoration-color: rgba(255, 153, 0, 1);
    color: rgba(255, 153, 0, 1);
    font-size: 50px;
    position: relative;
    bottom: 20px;
    left: 100px;
}
.serviciosPie{
    top: 15px;
}
.siguenosPie{
    top: 15px;
}

.pieServicios{
    position: relative;
    bottom: 25px;
    position: relative;
    right: 100px;
    color: white;
    font-size: 25px;
    width: 400px;
    top: -5px;
    left: 20px;
}

.pieContactos{
    position: relative;
    bottom: 20px;
    position: relative;
    right: 100px;
    color: white;
    font-size: 25px;
    width: 400px;
    text-align: center;
    gap: -100px;
    bottom: 50px;
    left: 9px;
}

.iconos img{
    width: 10%;
    margin-left: 40px;
    position: relative;
    bottom: 30px;
}