body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.cabezera{
    background-color: rgba(134, 118, 244, 1);
    width: 100.1%;
    height: 120px;
    display: flex;
}
.botonCabezera{
    cursor: pointer;
    background-color: rgba(255, 153, 0, 0);
    border: none;
    height: 58px;
    position: relative;
    left: 1%;
    top: 32px;
}
.linkBoton{
    background-color: rgba(255, 153, 0, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.tituloCabezera{
    position: relative;
    font-size: 35px;
    left: 32%;
    top: -0.8em;
    color: rgba(32, 0, 255, 1);
}



.x{
    font-size: 300%;
    height: 1%;
    color: rgba(64, 0, 150, 1);
}
#regresar{
    cursor: pointer;
    color: rgba(64, 0, 150, 1);
}
.menuNav{
    background-color: rgba(134, 118, 244, 1);
    width: 30%;
    height: 1000%;
    z-index: 14;
    justify-items: center;
    display: none;
}
.menuNav a{
    color: rgba(64, 0, 150, 1);
    text-decoration: none;
    cursor: pointer;
    font-size: 300%;
}
.menuNav p{
    color: rgba(64, 0, 150, 0.7);
    font-size: 300%;
    cursor: default;
}














.inicioNiños{
    background-color: rgba(65, 8, 165, 0.73);
    height: 50%;
    display: flex;
    overflow: hidden;
}
.niñaInicio{
    object-fit: cover;
    position: relative;
    top: 5em;
}
.inicioTexto p{
    font-size: 250%;
    width: 100%;
    color: rgb(233, 231, 243);
    position: relative;
    right: 10%;
}
.espacio{
    background-color: rgba(68, 23, 146, 1);
    height: 10%;
    display: flex;
    flex-direction: column;
}
.espacio h2{
    text-align: center;
    color: white;
    font-size: 300%;
    position: relative;
    bottom: 27%;
}
.guarderia{
    background-image: url(../../img/servicios/niños/guarderia.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70%;
    display: flex;
}
.textoGuarderia{
    background-color: rgba(117, 75, 190, 0.68);
    height: 60%;
    width: 45%;
    position: relative;
    top: 22%;
    left: 55%;
}
.textoGuarderia p{
    color: white;
    font-size: 200%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 8%;
}

.parqueInfantil{
    display: flex;
    background-image: url(../../img/servicios/niños/parqueInfantil.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 101%;
    height: 70%;
}
.textoParqueInfantil{
    background-color: rgba(117, 75, 190, 0.68);
    height: 60%;
    width: 45%;
    position: relative;
    top: 22%;
}
.textoParqueInfantil p{
    color: white;
    font-size: 200%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 8%;
}

.paseosGuiados{
    display: flex;
    background-image: url(../../img/servicios/niños/paseosGuiados.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 101%;
    height: 70%;
}
.textoPaseosGuiados{
    background-color: rgba(117, 75, 190, 0.68);
    height: 60%;
    width: 45%;
    position: relative;
    top: 22%;
    left: 55%;
}
.textoPaseosGuiados p{
    color: white;
    font-size: 200%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 15%;
}

.personalEncargado{
    background-color: rgba(117, 75, 190, 1);
    width: 101%;
    height: 100%;
}
.imagenEncargados{
    background-image: url(../../img/servicios/niños/personalEncargado.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 101%;
    height: 100%;
    display: flex;
    align-items: end;
}
.espacioTexto{
    background-color: rgba(34, 2, 91, 0.47);
    height: 40%;
    width: 100%;
    text-align: center;
}
.espacioTexto p{
    color: white;
    font-size: 300%;
    width: 80%;
    position: relative;
    margin-left: 8%;
}
/*Pie de pagina*/
.pieDePaginaTamaño{
    background-color: rgba(86, 81, 81, 0.59);
    width: 100%;
    height: 300px;
    
}
.pieDePagina{
    display: flex;
    justify-content: center;
    gap: 200px;
    position: relative;
    right: -100px;
}
.serviciosPie, .contactosPie, .siguenosPie{
    text-decoration: underline;
    text-decoration-color: rgba(255, 153, 0, 1);
    color: rgba(255, 153, 0, 1);
    font-size: 50px;
    position: relative;
    bottom: 20px;
    left: 100px;
}
.serviciosPie{
    top: 15px;
}
.siguenosPie{
    top: 15px;
}

.pieServicios{
    position: relative;
    bottom: 25px;
    position: relative;
    right: 100px;
    color: white;
    font-size: 25px;
    width: 400px;
    top: -5px;
    left: 20px;
}

.pieContactos{
    position: relative;
    bottom: 20px;
    position: relative;
    right: 100px;
    color: white;
    font-size: 25px;
    width: 400px;
    text-align: center;
    gap: -100px;
    bottom: 50px;
    left: 9px;
}

.iconos img{
    width: 10%;
    margin-left: 40px;
    position: relative;
    bottom: 30px;
}
.celMostrar{
    display: none;
}
@media (max-width: 1024px){
    .cabezera{
        transition: all 0.5s;
    }
    h1{
        position: absolute;
        left: -2.3em;
        top: 0;
        width: 9em;
        right: 1.5em;
    }
    .inicioNiños{
        height: 35em;
    }
    .inicioTexto{
        font-size: 0.8em;
        position: relative;
        top: 1.9em;
        right: 20em;
        text-align: center;
    }
    .niñaInicio img{
        position: relative;
        top: 6em;
    }
    h2{
        position: relative;
        top: 0em;
    }
    .guarderia,.parqueInfantil,.paseosGuiados,.personalEncargado{
        width: 100%;
        height: 35em;
    }
    .guarderia p,.paseosGuiados p{
        font-size: 1.3em;
        width: 20em;
        left: 1.2em;
        top: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .parqueInfantil p{
        font-size: 1.3em;
        width: 20em;
        left: 1.2em;
        top: 1.9em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .paseosGuiados p{
        top: 1.5em;
    }
    .espacioTexto p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
        top: 1em;
    }

    /*Pie de pagina*/
    .pieDePaginaTamaño{
        width: 100%;
        height: min-content;
    }
    .pieDePagina{
        flex-direction: row;
        gap: 8em;
        left: 0.8em;
        margin: 0;
    }
    .serviciosPieDePagina{
        position: relative;
        height: 10px;
        top: 1em;
    }
    .serviciosPie{
        margin: 0;
        font-size: 2.2em;
        left: 0.8em;
        top: 0.32em;
        width: min-content;
        height: min-content;
    }
    div p.pieServicios{
        top: 0.5em;
        width: 10em;
        text-align: center;
        font-size: 1.2em;
        left: -0.3em;
        height: min-content;
    }
    .pieServicios,.siguenosPieDePagina{
        height: min-content;
        position: relative;
    }
    .contactosPie{
        width: min-content;
        height: min-content;
        font-size: 2.2em;
        left: 1em;
    }
    .siguenosPie{
        font-size: 2.2em;
        left: 1.5em;
        top: 0.02em;
    }
    .textoContacto *{
        margin: 0;
    }
    .textoContacto{
        text-align: center;
        font-size: 1.2em;
        width: 9em;
        position: relative;
        bottom: 0.9em;
    }
    .pieContactos{
        all: unset;
        color: white;
        left: -10em;
        margin: 0;
        gap: 0;
    }
    h2.contactosPie{
        top: 0em;
        left: 0.25em;
    }
    .iconos{
        position: relative;
        top: 1em;
        left: 0.99em;
        width:15em;
        height: min-content;
        gap: 0;
        bottom: 0em;
    }
    .iconos img{
        width: 3em;
        height: auto;
        margin: 0;
    }
    img.youtube{
        width: 3em;
        height: 3.8em;
    }


    /*Inicio de script*/
    .menuNav#menus{
        transition: all 0.5s;
        position: absolute;
        width: 20em;
    }
    .menuNav#menus div{
        font-size: 0.7em;
        text-align: center;
        font-weight: 300;
    }
    .linkServiciosParaNiños,.linkServiciosParaAdultos{
        width: 18em;
        text-align: center;
    }
    .x{
        height: min-content;
        border-radius: 100%;
        margin: 0;
        margin-top: 1em;
    }
    /*Fin de script*/
}
@media (width: 430px){
    .cabezera{
        width: 100%;
        height: min-content;
    }
    .cabezera img{
        width: 2.5em;
        position: relative;
        top: -1.5em;
    }
    h1{
        font-size: 0.9em;
        top: 0.5em;
        left: -3em;
    }
    .inicioNiños{
        height: max-content;
        left: 10em;
    }
    .inicioNiños *{
        position: relative;
        left: 0.1em;
    }
    .niñaInicio{
        top: -4em;
    }
    .inicioTexto p{
        font-size: 0.9em;
        left: -6em;
        top: -1.8em;
    }
    .espacio{
        width: 100%;
        height: 3em;
        justify-content: center;
    }
    h2{
        position: relative;
        top: 0em;
        margin: 0;
    }
    .espacio h2{
        font-size: 1.5em;
    }
    .celOcultar{
        display: none;
    }
    /* .guarderia,.parqueInfantil,.paseosGuiados{
        width: 100%;
        height: 15em;
    }
    .guarderia p,.paseosGuiados p{
        font-size: 0.6em;
        width: 18em;
        left: 1em;
        top: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .parqueInfantil p{
        font-size: 0.6em;
        width: 18em;
        left: 1.2em;
        top: -0.1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .paseosGuiados p{
        top: 1.5em;
    } */

    .personalEncargado{
        width: 100%;
        height: 15em;
    }
    .espacioTexto{
        background-color: rgba(255, 153, 0, 0);
    }
    .espacioTexto p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.5em;
        top: 12.9em;
        left: 0.8em;
        margin: 0;
        width: 95%;
    }

    .pieDePaginaTamaño{
        width: 100%;
        height: min-content;
    }
    .pieDePagina{
        flex-direction: row;
        gap: 0.5em;
        left: 0.8em;
        margin: 0;
    }
    .serviciosPieDePagina{
        position: relative;
        top: 1.5em;
        height: 10px;
    }
    .serviciosPie{
        margin: 0;
        font-size: 1.2em;
        left: 0;
        height: min-content;
    }
    div p.pieServicios{
        top: 0em;
        width: 10em;
        text-align: center;
        font-size: 0.8em;
        left: -2.2em;
        height: min-content;
    }
    .pieServicios,.siguenosPieDePagina{
        height: min-content;
        position: relative;
        left:2em;
    }


    .contactosPie{
        font-size: 1.2em;
    }
    .siguenosPie{
        font-size: 1.2em;
        left: 0em;
        top: 0.74em;
    }
    .textoContacto *{
        margin: 0;
    }
    .textoContacto{
        text-align: center;
        font-size: 0.8em;
        width: 9em;
        position: relative;
        top: 0.5em;
    }
    .pieContactos{
        all: unset;
        color: white;
        left: -10em;
        margin: 0;
        gap: 0;
    }
    h2.contactosPie{
        top: 0em;
        left: 0.8em;
    }
     .iconos{
        position: relative;
        top: 3em;
        width:8em;
        height: min-content;
        gap: 0;
        bottom: 0em;
        left: -0.8em;
     }
     .iconos img{
        width: auto;
        height: 1.3em;
        margin: 0;
     }
     img.youtube{
        width: 1.3em;
        height: 1.6em;
     }
     /*Inicio de script*/
    .menuNav#menus{
        transition: all 0.5s;
        position: absolute;
        width: 100%;
    }
    .menuNav#menus div{
        font-size: 0.5em;
        text-align: center;
        font-weight: 300;
    }
    .linkServiciosParaNiños,.linkServiciosParaAdultos{
        width: 225em;
        text-align: center;
    }
    .x{
        height: min-content;
        border-radius: 100%;
        margin: 0;
        position: relative;
        top: 2em;
    }
    .x img{
        width: 1em;
        position: relative;
        right: 0.8em;
    }
    .x::after{
        content: "Cerrar";
        position: absolute;
        bottom: 3.9em;
        left: 0.5em;
        font-size: 0.5em;
        font-weight: 500;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .regresarMenu{
        z-index: 100;
    }
    /*Fin de script*/
    .celMostrar{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #005469af;
        color: white;
    }
    .informacionServicios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infoServicios{
        display: flex;
        flex-direction: row;
    }
    .infoServicios img{
        width: 7em;
    }
    .infoServicios p{
        font-size: 0.7em;
        width: 25em;
        text-align: center;
        font-weight: 400;
        color: rgb(70, 42, 0);
    }
    #guarderiaMostrar::after{
        content: "ansao";
        font-size: 2em;
        color: red;
    }

}