body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.cabezera{
    background-color: rgba(134, 118, 244, 1);
    width: 100%;
    height: 120px;
    display: flex;
}
.botonCabezera{
    cursor: pointer;
    background-color: rgba(255, 153, 0, 0);
    border: none;
    height: 58px;
    position: relative;
    left: 1%;
    top: 32px;
}
.linkBoton{
    background-color: rgba(255, 153, 0, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.tituloCabezera{
    position: relative;
    font-size: 35px;
    left: 32%;
    top: -0.8em;
    color: rgba(32, 0, 255, 1);
}



.x{
    font-size: 300%;
    height: 1%;
    color: rgba(64, 0, 150, 1);
}
#regresar{
    cursor: pointer;
    color: rgba(64, 0, 150, 1);
}
.menuNav{
    background-color: rgba(134, 118, 244, 1);
    width: 30%;
    height: 1000%;
    z-index: 14;
    justify-items: center;
    display: none;
}
.menuNav a{
    color: rgba(64, 0, 150, 1);
    text-decoration: none;
    cursor: pointer;
    font-size: 300%;
}
.menuNav p{
    color: rgba(64, 0, 150, 0.7);
    font-size: 300%;
    cursor: default;
}














.inicioNiños{
    background-color: rgba(65, 8, 165, 0.73);
    height: 50%;
    display: flex;
    overflow: hidden;
}
.niñaInicio{
    object-fit: cover;
    position: relative;
    top: 5em;
}
.inicioTexto p{
    font-size: 250%;
    width: 100%;
    color: rgb(233, 231, 243);
    position: relative;
    right: 10%;
}
.espacio{
    background-color: rgba(68, 23, 146, 1);
    height: 10%;
    display: flex;
    flex-direction: column;
}
.espacio h2{
    text-align: center;
    color: white;
    font-size: 300%;
    position: relative;
    bottom: 27%;
}
.guarderia{
    background-image: url(../../img/servicios/niños/guarderia.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70%;
    display: flex;
}
.textoGuarderia{
    background-color: rgba(117, 75, 190, 0.68);
    height: 60%;
    width: 45%;
    position: relative;
    top: 22%;
    left: 55%;
}
.textoGuarderia p{
    color: white;
    font-size: 200%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 8%;
}

.parqueInfantil{
    display: flex;
    background-image: url(../../img/servicios/niños/parqueInfantil.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70%;
}
.textoParqueInfantil{
    background-color: rgba(117, 75, 190, 0.68);
    height: 60%;
    width: 45%;
    position: relative;
    top: 22%;
}
.textoParqueInfantil p{
    color: white;
    font-size: 200%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 8%;
}

.paseosGuiados{
    display: flex;
    background-image: url(../../img/servicios/niños/paseosGuiados.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70%;
}
.textoPaseosGuiados{
    background-color: rgba(117, 75, 190, 0.68);
    height: 60%;
    width: 45%;
    position: relative;
    top: 22%;
    left: 55%;
}
.textoPaseosGuiados p{
    color: white;
    font-size: 200%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 15%;
}

.personalEncargado{
    background-color: rgba(117, 75, 190, 1);
    width: 101%;
    height: 100%;
}
.imagenEncargados{
    background-image: url(../../img/servicios/niños/personalEncargado.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 101%;
    height: 100%;
    display: flex;
    align-items: end;
}
.espacioTexto{
    background-color: rgba(34, 2, 91, 0.47);
    height: 40%;
    width: 100%;
    text-align: center;
}
.espacioTexto p{
    color: white;
    font-size: 300%;
    width: 80%;
    position: relative;
    margin-left: 8%;
}
/*Pie de pagina*/
.pieDePaginaTamaño{
    background-color: rgba(86, 81, 81, 0.59);
    width: 100%;
    height: 300px;
    
}
.pieDePagina{
    display: flex;
    justify-content: center;
    gap: 200px;
    position: relative;
    right: -100px;
}
.serviciosPie, .contactosPie, .siguenosPie{
    text-decoration: underline;
    text-decoration-color: rgba(255, 153, 0, 1);
    color: rgba(255, 153, 0, 1);
    font-size: 50px;
    position: relative;
    bottom: 20px;
    left: 100px;
}
.serviciosPie{
    top: 15px;
}
.siguenosPie{
    top: 15px;
}

.pieServicios{
    position: relative;
    bottom: 25px;
    position: relative;
    right: 100px;
    color: white;
    font-size: 25px;
    width: 400px;
    top: -5px;
    left: 20px;
}

.pieContactos{
    position: relative;
    bottom: 20px;
    position: relative;
    right: 100px;
    color: white;
    font-size: 25px;
    width: 400px;
    text-align: center;
    gap: -100px;
    bottom: 50px;
    left: 9px;
}

.iconos img{
    width: 10%;
    margin-left: 40px;
    position: relative;
    bottom: 30px;
}
.celMostrar{
    display: none;
}
@media (max-width: 1024px){
    .cabezera{
        transition: all 0.5s;
    }
    h1{
        position: absolute;
        left: -2.3em;
        top: 0;
        width: 9em;
        right: 1.5em;
    }
    .inicioNiños{
        height: 35em;
    }
    .inicioTexto{
        font-size: 0.8em;
        position: relative;
        top: 1.9em;
        right: 20em;
        text-align: center;
    }
    .niñaInicio img{
        position: relative;
        top: 6em;
    }
    h2{
        position: relative;
        top: 0em;
    }
    .guarderia,.parqueInfantil,.paseosGuiados,.personalEncargado{
        width: 100%;
        height: 35em;
    }
    .guarderia p,.paseosGuiados p{
        font-size: 1.3em;
        width: 20em;
        left: 1.2em;
        top: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .parqueInfantil p{
        font-size: 1.3em;
        width: 20em;
        left: 1.2em;
        top: 1.9em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .paseosGuiados p{
        top: 1.5em;
    }
    .espacioTexto p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
        top: 1em;
    }

    /*Pie de pagina*/
    .pieDePaginaTamaño{
        width: 100%;
        height: min-content;
    }
    .pieDePagina{
        flex-direction: row;
        gap: 8em;
        left: 0.8em;
        margin: 0;
    }
    .serviciosPieDePagina{
        position: relative;
        height: 10px;
        top: 1em;
    }
    .serviciosPie{
        margin: 0;
        font-size: 2.2em;
        left: 0.8em;
        top: 0.32em;
        width: min-content;
        height: min-content;
    }
    div p.pieServicios{
        top: 0.5em;
        width: 10em;
        text-align: center;
        font-size: 1.2em;
        left: -0.3em;
        height: min-content;
    }
    .pieServicios,.siguenosPieDePagina{
        height: min-content;
        position: relative;
    }
    .contactosPie{
        width: min-content;
        height: min-content;
        font-size: 2.2em;
        left: 1em;
    }
    .siguenosPie{
        font-size: 2.2em;
        left: 1.5em;
        top: 0.02em;
    }
    .textoContacto *{
        margin: 0;
    }
    .textoContacto{
        text-align: center;
        font-size: 1.2em;
        width: 9em;
        position: relative;
        bottom: 0.9em;
    }
    .pieContactos{
        all: unset;
        color: white;
        left: -10em;
        margin: 0;
        gap: 0;
    }
    h2.contactosPie{
        top: 0em;
        left: 0.25em;
    }
    .iconos{
        position: relative;
        top: 1em;
        left: 0.99em;
        width:15em;
        height: min-content;
        gap: 0;
        bottom: 0em;
    }
    .iconos img{
        width: 3em;
        height: auto;
        margin: 0;
    }
    img.youtube{
        width: 3em;
        height: 3.8em;
    }


    /*Inicio de script*/
    .menuNav#menus{
        transition: all 0.5s;
        position: absolute;
        width: 20em;
    }
    .menuNav#menus div{
        font-size: 0.7em;
        text-align: center;
        font-weight: 300;
    }
    .linkServiciosParaNiños,.linkServiciosParaAdultos{
        width: 18em;
        text-align: center;
    }
    .x{
        height: min-content;
        border-radius: 100%;
        margin: 0;
        margin-top: 1em;
    }
    /*Fin de script*/
}
@media (width: 430px){
    body, html {
        overflow-x: hidden; /* Prevenir scroll horizontal */
        width: 100%;
        margin: 0;
        padding: 0;
    }
    /* Cabecera */
    .cabezera{
        width: 100%;
        height: 4em;
        padding: 0.5em 0;
        box-sizing: border-box;
    }
    .botonCabezera{
        left: 0.5em;
        top: 0.5em;
    }
    .cabezera img{
        width: 2.5em;
        position: relative;
        top: 0;
    }
    h1{
        font-size: 0.9em;
        top: 0.5em;
        left: 0;
        right: 0;
        text-align: center;
        width: 100%;
        position: relative;
        color: rgba(32, 0, 255, 1);
    }
    .tituloCabezera{
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Sección Inicio */
    .inicioNiños{
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 1em 0;
        width: 100%;
        overflow: hidden;
    }
    .niñaInicio{
        top: 0;
        text-align: center;
        width: 100%;
    }
    .niñaInicio img{
        width: 80%;
        max-width: 100%;
        position: relative;
        top: 0;
    }
    .inicioTexto{
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 1em;
        box-sizing: border-box;
    }
    .inicioTexto p{
        font-size: 0.85em;
        left: 0 !important;
        right: 0 !important;
        top: 0;
        margin: 0.3em auto !important;
        text-align: center;
        line-height: 1.4;
        width: 100%;
    }
    
    /* Espacios y títulos */
    .espacio{
        width: 100%;
        height: 3.5em;
        justify-content: center;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }
    .espacio h2{
        font-size: 1.5em;
        margin: 0;
        padding: 0.5em 0;
    }
    
    /* Ocultar versión desktop */
    .celOcultar{
        display: none;
    }

    /* Sección móvil */
    .celMostrar{
        display: block;
        background: linear-gradient(180deg, rgba(117, 75, 190, 0.85) 0%, rgba(68, 23, 146, 0.9) 100%);
        color: white;
        padding: 2em 0;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .info{
        text-align: center;
        margin-bottom: 1em;
        padding: 0 1em;
    }
    
    .info h3{
        font-size: 1.8em;
        color: rgba(255, 255, 255, 1);
        margin: 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    
    .informacionServicios{
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 0 1em;
        width: 100%;
        box-sizing: border-box;
    }
    
    .infoServicios{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 15px;
        padding: 1.5em;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        gap: 1em;
        width: 100%;
        box-sizing: border-box;
    }
    
    .infoServicios img{
        width: 8em;
        height: 8em;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        flex-shrink: 0;
    }
    
    .infoServicios p{
        font-size: 0.75em;
        width: 100%;
        max-width: 100%;
        text-align: center;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.95);
        line-height: 1.6;
        margin: 0;
        word-wrap: break-word;
    }
    
    #guarderiaMostrar::after{
        content: none;
    }

    /* Personal Encargado */
    .personalEncargado{
        width: 100%;
        height: 18em;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
    }
    
    .imagenEncargados{
        width: 100%;
        height: 100%;
    }
    
    .espacioTexto{
        background-color: rgba(34, 2, 91, 0.75);
        height: auto;
        padding: 1em;
        width: 100%;
        box-sizing: border-box;
    }
    
    .espacioTexto p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.65em;
        line-height: 1.5;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 95%;
        text-align: center;
    }

    /* Pie de página */
    .pieDePaginaTamaño{
        width: 100%;
        height: auto;
        padding: 1.5em 0;
        box-sizing: border-box;
        overflow: hidden;
    }
    .pieDePagina{
        flex-direction: column;
        gap: 2em;
        left: 0;
        right: 0;
        margin: 0;
        align-items: center;
        width: 100%;
    }
    .serviciosPieDePagina{
        position: relative;
        top: 0;
        height: auto;
    }
    .serviciosPie{
        margin: 0;
        font-size: 1.2em;
        left: 0;
        height: auto;
        top: 0;
    }
    div p.pieServicios{
        top: 0;
        width: 90%;
        max-width: 20em;
        text-align: center;
        font-size: 0.8em;
        left: 0;
        height: auto;
        margin: 0.5em auto;
    }
    .pieServicios,.siguenosPieDePagina{
        height: auto;
        position: relative;
        left: 0;
    }

    .contactosPie{
        font-size: 1.2em;
        left: 0;
        top: 0;
    }
    .siguenosPie{
        font-size: 1.2em;
        left: 0;
        top: 0;
    }
    .textoContacto *{
        margin: 0.2em 0;
    }
    .textoContacto{
        text-align: center;
        font-size: 0.8em;
        width: 90%;
        max-width: 20em;
        position: relative;
        top: 0;
        margin: 0 auto;
    }
    .pieContactos{
        all: unset;
        color: white;
        left: 0;
        margin: 0.2em 0;
        gap: 0;
        display: block;
        text-align: center;
    }
    h2.contactosPie{
        top: 0;
        left: 0;
        text-align: center;
    }
    .iconos{
        position: relative;
        top: 0;
        width: 100%;
        max-width: 15em;
        height: auto;
        gap: 0.5em;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 1em auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iconos img{
        width: 2em;
        height: 2em;
        margin: 0 0.3em;
        object-fit: contain;
    }
    img.youtube{
        width: 2em;
        height: 2.2em;
    }

    /* Menú de navegación */
    .menuNav#menus{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 1000;
        overflow-y: auto;
    }
    
    .menuNav#menus div{
        font-size: 0.6em;
        text-align: center;
        font-weight: 400;
        padding: 0.5em;
    }
    
    .menuNav#menus a{
        font-size: 500%;
    }
    
    .menuNav#menus p{
        font-size: 500%;
    }
    
    .linkServiciosParaNiños, .linkServiciosParaAdultos{
        width: 100%;
        padding: 0.5em 0;
    }
    
    .regresarMenu{
        width: 100%;
    }
    
    .x{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em auto;
        cursor: pointer;
        height: auto;
        width: auto;
    }
    
    .x img{
        width: 1.5em;
        position: relative;
        right: 0;
    }
    h1 
}
