html,body{
    margin: 0;
    padding: 0;
}


.finalBlanco{
    background-color: rgba(217, 217, 217, 0.5);
    width: 50%;
    height: 500px;
    margin-left: 25%;
    margin-top: 10%;
    display: flex;
}
#fondo{
    background-color: rgba(217, 217, 217, 1);
    height: 80%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 10%;
}
#fondo p{
    text-align: center;
    position: relative;
    bottom: 12%;
    color: rgba(131, 0, 0, 1);
}
#fondo .pagarPse{
    position: relative;
    top: 0px;
    right: 190px;
    font-size: 200%;
}
#fondo .pagarTarjeta{
    position: relative;
    font-size: 200%;
    bottom: 17%;
    left: 24%;
}
#pse{
    position: relative;
    left: 9%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#tarjeta{
    position: relative;
    left: 20%;
    bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}