html,body{
    margin: 0;
    padding: 0;
}
.cabezera{
    background-color: rgba(220, 227, 243,0.2);
    width: 100%;
    height: 150px;
}
.logo button{
    background-color: rgb(0, 0, 255,0);
    border: none;
    height: 100px;
    
}
#menuLogos{
    position: relative;
    bottom: 20px;
}
.boton{
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cerrar{
    margin-left: 22%;
}
#logos{
    display: none;
    display: flex;
    flex-direction: column;
    background-color: rgba(244, 246, 249, 0.5);
    width: 200px;
    height: 600px;
    display: none;
}
#logos button{
    background-color: rgb(0, 0, 255,0);
    border: none;
}
#logos img{
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#cerrar{
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}