html, body{
    margin: 0;
    padding: 0;
}
.cabezeraArriba{
    background-color: rgba(69, 67, 67, 0.67);
    width: 100%;
    height: 120px;
    display: flex;
}
#logoCabezera{
    position: relative;
    top: 15%;
}
.quienesSomos{
    /* margin-left: 21%; */
    position: relative;
    left: 13%;
}
.afiliateYa{
    position: relative;
    left: 32%;
}
.imagenLogin{
    position: relative;
    left: 46%;
    margin-left: 10px;
}
.quienesSomos, .afiliateYa{
    position: relative;
    top: 10%;
    font-size: 140%;
    color: rgba(73, 1, 0, 1);
    font-weight: 900;
    font-family: 'Fredoka One', sans-serif;
}

.imagenLogin{
    display: flex;
}

.inicioGym img{
    width: 100%;
}
.inicioGym{
    display: flex;
}
.inicioGym p{
    position: absolute;
    right: 50px;
    top: 41%;
    text-align: center;
    color: white;
    font-size: 300%;
}
p1{
    color: rgba(74, 0, 0, 1);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.servicios{
    display: flex;
    height: 50px;
}
.servicios .titulo{
    font-weight: 1000;
    position: relative;
    left: 45%;
    font-size: 300%;
    height: 100px;
    bottom: 40%;
    color: rgba(29, 30, 61, 1);
    font-family: 'Fredoka One', sans-serif;
}

.serviciosInfo{
    display: flex;
    margin-left: 3%;
    height: 505px;
}
.instructores, .maquinas, .entrenamientos{
    position: relative;
    left: 3%;
    top: 50px;
    color: rgba(29, 30, 61, 1);
    font-size: 120%;
    /* border: black 5px solid; */
}
.instructores,.maquinas,.entrenamientos{
    width: 24%;
}

.maquinas, .entrenamientos{
    left: 13%;
}
.entrenamientos{
    left: 22%;
}
.instructores h2, .maquinas h2, .entrenamientos h2{
    position: relative;
    font-weight: 600;
    color: rgba(24, 26, 65, 1);
}
.instructores p, .maquinas p, .entrenamientos p{
    font-weight: 100;
    text-align: center;
}
.instructores img, .maquinas img, .entrenamientos img{
    position: relative;
}
.instructores h2{
    left: 3%;
}
 .maquinas h2{
    left: 14%;
 }
 .entrenamientos h2{
    left: 6%;
 }
 /*imagen*/
 .instructores img, .maquinas img, .entrenamientos img{
    left: 4%;
 }


 /*Instructores*/
.instructoresInfo .titulo h2{
    font-weight: 1000;
    position: relative;
    margin-left: 39%;
    font-size: 250%;
    height: 10px;
    color: rgba(29, 30, 61, 1);
    font-family: 'Fredoka One', sans-serif;
    margin-bottom: 4.5%;
}

.informacionInstructores{
    background-color: rgba(38, 1, 87, 0.04);
    height: 250px;
    width: 100%;
    display: flex;
}
/*Informacion instructores*/
.camilo, .andres, .valentina, .felipe{
    display: flex;
    margin-left: 1%;
}
.felipe{
    position: relative;
    left: 1.5%;
}
.imagenCamilo{
    position: relative;
    margin-top: 3%;
}
.infoCamilo, .infoAndres, .infoValentina, .infoFelipe{
    text-align: center;
    position: relative;
    left: 2%;
    top: 50px;
    width: 50%;
}
.imagenAndres, .imagenValentina, .imagenFelipe{
    position: relative;
    top: 6%;
}