body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.fondoCabezera{/*Color de la cabezera/organización*/
    background-color: rgba(220, 227, 243,1);
    height: 120px;
    width: 100%;
    /* position: fixed; */
    /* z-index: 1; */
}

.cabezera{
    overflow: none;
    display: flex;
    /* justify-content: center; Ubicacion*/
    /* background-color: blue; */
    gap: 14%;
    
}
#menuLogos{
    background-color: rgba(15, 0, 119, 0);
    width: 210px;
    border: none;
}
#logos img{
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cerrar{
    margin-left: 20%;
    margin-top: 10px;
}

#Logo{
    cursor: pointer;
    transition: background-color 0.3s ease;
    right: 20px;
    margin-left: 20px;
    
}
#logos{
    flex-direction: column;
    background-color: rgba(244, 246, 249, 0.1);
    width: 200px;
    height: 600px;
}

#logos button{
    background-color: rgba(15, 0, 119, 0);
    border: none;
}

/* #restaurante{
    position: absolute;
} */


.imagenLogo{
    margin-left: 9px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botonQuienesSomos{
    background-color: rgba(38, 18, 129, 0);
    border: none;
}
.quienesSomos{
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: rgba(48, 58, 139, 1);
    font-size: 35px; 
    font-weight: 800;
    font-family: "Fredoka One", sans-serif;
    position: relative;
    bottom: 5px;
    margin-left: -150px;
    left: 90px;
}

.botonAfiliate{
    background-color: rgba(38, 18, 129, 0);
    border: none;
}
.afiliate{
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: rgba(255, 128, 0, 1);
    font-size: 35px;
    font-weight: 800;
    font-family: "Fredoka One", sans-serif;
    position: relative;
    bottom: 5px;
    left: 90px;
    opacity: 0.85;
}

.botonLogin{
    width: 200px;
    position: relative;
    left: 260px;
    opacity: 0.85;
}
.botonLogin{
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -1px;
    margin-left: -10px;
    border: none;
    background-color: rgba(255, 128, 0, 0);
}

.inicioMedio{
    background-color: rgb(220, 227, 243);
    height: 200px;
    width: 1905px;
    margin-top: -4px;
    display: flex;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    color: rgba(44, 43, 43,0.7);
}
.textoPiscina{
    font-size: 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: relative;
    top: 25px;
}
.perro{
    margin-left: 30px;
}
.espacio{
    background-color: white(169, 162, 162);
    height: 70px;
    width: 1905px;
    margin-top: -4px;
}


.restaurante .espacio{
    background-color: rgba(94, 69, 69, 1);
    height: 100px;
    width: 1905px;
    display:flex;
    justify-content: center;
}
.texto{
    background-color: rgba(94, 69, 69, 0);
    border: none;
    margin-top: -27px;
    color: yellow;
    font-size: 50px;
}
.textoLink{
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gymImagen{
    margin-top: -15px;
    width: 1905px;
}

.botonGym{
    margin-top: -6px;
    background-color: rgba(2, 9, 78, 0.9);
    color: white;
    font-size: 50px;
    height: 100px;
    width: 1905px;
    border: none;
}

.linkGym{
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* servicios para niños */
.niños .cabezeraNiños .cuadrosNiños{
    background-color: rgba(134, 118, 244, 1);
    height: 100px;
    width: 1905px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.niños .cabezeraNiños .cuadrosNiños .inicioCuadroNiños{
    color: rgba(32, 0, 255, 1);
}
.niños .cabezeraNiños .cuadrosNiños .inicioCuadroNiños .textoInicio{
    margin-top: 11px;
    font-size: 70px;
    margin-top: 11px;
}
.niños .cabezeraNiños .cuadrosNiños .segundoCuadrado{
    font-size: 30px;
    color: rgba(10, 2, 69, 1);
}
.niños .cuadro{
    background-color:rgba(158, 144, 253, 1);
    height: 800px;
    width: 100%;
}
.cuadro{
    display: flex;
    justify-content: space-between; /* imagen a la izquierda, texto a la derecha */
    align-items: flex-start;
    width: 100%;
}
.cuadro .textoNiños{
    height: 500px;
    width: 1905px;
    margin-top: 40px;
    font-size: 30px;
    margin-right: 200px;
    margin-left: 100px;
    position: relative;
    left: 80px;
}
.cuadro .linkNiños{
    background-color: rgba(15, 0, 119, 1);
    height: 100px;
    width: 900px;
    margin-top: 700px;
    border-top-left-radius: 30px;
}
.cuadro .linkNiños .botonNiños{
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 37px;
    color: white;
    background-color: rgba(15, 0, 119, 0);
    border: none;
    margin-top: 40px;
    margin-right: 25px;
    position: relative;
    left: 20px;
    top: -10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Servicios para adolecentes */
.adolecentes .cabezeraAdolecentes .cuadrosAdolecentes{
    background-color: rgba(255, 139, 153, 1);
    height: 100px;
    width: 1905px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.adolecentes .cabezeraAdolecentes .cuadrosAdolecentes .inicioCuadroAdolecentes{
    color: rgba(255, 0, 98, 1);
}
.adolecentes .cabezeraAdolecentes .cuadrosAdolecentes .inicioCuadroAdolecentes .textoInicioAdolecentes{
    margin-top: 11px;
    font-size: 70px;
    margin-top: 11px;
}
.adolecentes .cabezeraAdolecentes .cuadrosAdolecentes .segundoCuadradoAdolecentes{
    font-size: 30px;
    color: rgba(69, 2, 27, 1);
}
.adolecentes .cuadro{
    background-color: rgba(246, 155, 166, 1);
    height: 800px;
    width: 1905px;
}
.cuadrosAdolecentes{
    display: flex;
    justify-content: space-between; /*imagen a la izquierda, texto a la derecha*/
    align-items: flex-start;
}
.cuadro .textoAdolecentes{
    color: white;
    height: 500px;
    width: 1905px;
    margin-top: 40px;
    font-size: 30px;
    margin-right: 200px;
    margin-left: 100px;
    position: relative;
    left: 80px;
}
.cuadro .linkAdolecentes{
    background-color: rgba(255, 0, 98, 1);
    height: 100px;
    width: 900px;
    margin-top: 700px;
    border-top-left-radius: 30px;
}
.cuadro .linkAdolecentes .botonAdolecentes{
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 30px;
    color: white;
    background-color: rgba(15, 0, 119, 0);
    border: none;
    margin-top: 20px;
    margin-right: 30px;
}

/* Servicios para adultos */
.adultos .cabezeraAdultos .cuadrosAdultos{
    background-color: rgba(255, 193, 127, 0.96);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.adultos .cabezeraAdultos .cuadrosAdultos .inicioCuadroAdultos{
    color: rgba(255, 153, 0, 1);
}
.adultos .cabezeraAdultos .cuadrosAdultos .inicioCuadroAdultos .textoInicioAdultos{
    margin-top: 11px;
    font-size: 70px;
    margin-top: 11px;
}
.adultos .cabezeraAdultos .cuadrosAdultos .segundoCuadradoAdultos{
    font-size: 30px;
    color: rgba(69, 23, 2, 1);
}
.adultos .cuadro{
    background-color: rgba(255, 200, 142, 1);
    height: 940px;
    width: 1905px;
}
.cuadrosAdultos{
    display: flex;
    justify-content: space-between; /*imagen a la izquierda, texto a la derecha*/
    align-items: flex-start;
}
.cuadro .textoAdultos{
    color: white;
    height: 500px;
    width: 1905px;
    margin-top: 70px;
    font-size: 30px;
    margin-right: 200px;
    margin-left: 100px;
    position: relative;
    left: 80px;
}
.cuadro .linkAdultos{
    background-color: rgba(255, 153, 0, 1);
    height: 100px;
    width: 900px;
    margin-top: 700px;
    border-top-left-radius: 30px;
    position: relative;
    top: 140px;
    right: 1%;
}
.cuadro .linkAdultos .botonAdultos{
    cursor: pointer;
    width: 82%;
    transition: background-color 0.3s ease;
    font-size: 30px;
    color: white;
    background-color: rgba(255, 153, 0, 1);
    border: none;
    margin-top: 20px;
    /* margin-right: 0px; */
    margin-left: 20px;
}

/*Pie de pagina*/
.pieDePaginaTamaño{
    background-color: rgba(86, 81, 81, 0.59);
    width: 100%;
    height: 300px;
    
}
.pieDePagina{
    display: flex;
    justify-content: center;
    gap: 200px;
    position: relative;
    right: -100px;
}
.serviciosPie, .contactosPie, .siguenosPie{
    text-decoration: underline;
    text-decoration-color: rgba(255, 153, 0, 1);
    color: rgba(255, 153, 0, 1);
    font-size: 50px;
    position: relative;
    bottom: 20px;
    left: 100px;
}
.serviciosPie{
    top: 15px;
}
.siguenosPie{
    top: 15px;
}

.pieServicios{
    position: relative;
    bottom: 25px;
    position: relative;
    right: 100px;
    color: white;
    font-size: 25px;
    width: 400px;
    top: -5px;
    left: 20px;
}

.pieContactos{
    position: relative;
    bottom: 20px;
    position: relative;
    right: 100px;
    color: white;
    font-size: 25px;
    width: 400px;
    text-align: center;
    gap: -100px;
    bottom: 50px;
    left: 9px;
}

.iconos img{
    width: 10%;
    margin-left: 40px;
    position: relative;
    bottom: 30px;
}

#logos{
    display: none;
    /* margin-left: -13.5%; *//*Correcion???*/
}
#logo{
    display: block;
}
.botonTienda{
    position: absolute;
    bottom: 0%;
    right: 1%;
}

/*iPad pro 1024px*/
@media (width: 1024px){
    .imagenLogo{
        width: 30%;
        height: 12%;
        position: absolute;
        z-index: 100;
        left: 0;
        top: 19px;
    }
    
    #logos{
        position: relative;
        z-index: 100;
        top: 0;
        left: 0;
        margin-right: 0;
        width: 100%;
        justify-items: center;
        display: flex;
        flex-direction: row;
        top: 30%;
        flex-direction: column;
    }
    .quienesSomos,.afiliate,.botonLogin{
        display: none;
    }
    .recreacional{
        width: 25%;
    }
    #cerrar{
        position: relative;
        left: -2%;
        /* margin-left: 0%;
        margin-top: -38%; */
        position: relative;
        right: 40%;
    }
    button #cerrar{
        display: none;
    }
    #logos img{
        width: 120px;
    }
    .recreacional{
        position: relative;
        left: 47%;
    }
    #logos .recreacional,#gym{
        width: 25%;
    }
    #logos form img{
        width: 250px;
    }
    #logos #restauranteAdso img{
        width: 100%;
        top: 40px;
        /* left: 200%; */
    }
    .fondoCabezera{
        height: 100vh;
    }
    #gym{
        position: relative;
        left: 47%;
    }
    .quienesSomos{
        position: absolute;
        top: 0;
        right: 25%;
        display: block;
    }
}
